.game {
    @include flex(row, center);
    padding: 80px;
    .paper{
        box-shadow: 0px 14px  $paperShadow;
    }
    .scissors{
        box-shadow: 0px 14px $scissorsShadow;
    }
    .rock{
        box-shadow: 0px 14px $rockShadow;       
    }
    .spock{
        box-shadow: 0px 14px $spockShadow;
    }
    .lizard{
        box-shadow: 0px 14px $lizardShadow;
    }
    p{
        font-size: 16px;
        color: $iconColor;
    }
    .icon{
        width: 280px;
        height: 280px;
        margin: 70px 35px -35px 35px;
    }
     .icon-bg{
        width: 210px;
        height: 210px;
        box-shadow: 0px 11px inset $iconShadow;
    }
    img{
        width: 90px;
        height: auto;
    }
    .blank{    
        background-color: $primalColor ;
        .icon-bg{
         background-color: $gradientFour; 
         box-shadow: none;
        }
     }

}
