#play-again{
    display: none;
    margin: 0px 35px;
}
.play-again{
    width: 210px;
    height: 45px;
    p{
        color: hsl(349, 71%, 52%);
        font-size: 12px;
    }
}
.animacija{
    animation: anim 2s linear;
}
@keyframes anim{
    0%{color: yellow;
    transform: scale(1.2);}
    30%{color: green;
    transform: rotate(180deg);}
    60%{color: red;
    transform: scale(0.8);}
    80%{color: blue;
    transform: rotate3d(180deg);}
    100%{color: violet;
    transform: scale(1.5);}
}
@media screen and(max-width: 375px){
    #play-again{
        flex-direction: column;
        position: relative;
        top: 225px;
        width: 0px;
        text-align: center;
        margin: 0px;
        h2{
            font-size: 40px;
            width: 230px;
        }
        p{
            margin-top: 5px;
            font-size: 12px;
            color: hsl(237, 49%, 15%);
        }
    }
}