.rules{
    display: none;
    padding: 30px;
    height: 460px;
    width: 405px;
    text-align: center;
    border-radius: 10px;
    background-color: $iconColor;
    position: relative;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;   
    .first-row{
        margin-bottom: 30px;
    }   
}
h2{
    text-transform: uppercase;
    font-size: 28px;
}
@media screen and(max-width: 400px){
    .rules{
        width: 400px;
        height: 790px;
        margin-top: -50px;  
        .first-row{
            flex-direction: column;
            margin-top: 80px;
            align-items: center;
        }
        .first-row img{
            position: relative;
            top: 460px;
        }  
    }
    
    h2{
        margin-bottom: 100px;
    }
}