*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html, body{     
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 16px;    
    }
    .container{
        background-color: $primalColor ;
        /*background-color: hsla(229, 25%, 31%, 0.2);*/
        width: 1366px;
        height: 728px;
        padding: 43px;
        overflow: hidden;
    }
    
    @media screen and (max-width: 400px){
        .container{
            width: 400px;
            height: 765px;
        } 
    }