@import './_variables';
@import './_header';
@import './rules';
@import './gradient';
@import './_maingame';
@import './_playagain';

@mixin flex($direction, $justifyContent) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: $justifyContent;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html, body{     
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 16px;    
    }
.container{
    background-color: $primalBgColor;
    /*background-color: hsla(229, 25%, 31%, 0.2);*/
    width: 1366px;
    height: 728px;
    padding: 43px;
    overflow: hidden;
}
.main{
    @include flex(column, space-between);
}
.second{
    background-image: url('../images/bg-triangle.svg');
    background-repeat: no-repeat;
    background-position: center;
    @include flex(column, space-between);
    z-index: 1;
}
.first-row{      
    @include flex(row, space-between);    
    margin-bottom: -55px;
}
.icon{   
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: $iconColor;    
    @include flex(column, center);
    margin: 35px;
}
.icon-bg{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: $iconColor;
    @include flex(column, center);
    box-shadow: 0px 7px inset $iconShadow;
}
#bonus-intro{
    @include flex(column);
    background-image: url('../images/bg-pentagon.svg');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    display: none;
}
.bonus-first-row{
    @include flex(row);
    margin-top: 135px;
}
.bonus-second-row{
    @include flex(row, space-between);
}
.icon-bonus{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: $iconColor;
    @include flex(column, center);
    margin: 20px 20px;
}
.icon-bonus-bg{
    width: 107px;
    height: 107px;
    border-radius: 50%;
    background-color: $iconColor;
    @include flex(column, center);
    box-shadow: 0px 5px inset $iconShadow;
}
.icon-bonus.scissors{
    position: relative;
    bottom: 125px;
}
.paper{    
    background-color: $paperColor ;
    box-shadow: 0px 10px $paperShadow ;
}
.scissors{
    background-color: $scissorsColor;
    box-shadow: 0px 10px $scissorsShadow;
}
.spock{
    background-color: $spockColor;
    box-shadow: 0px 10px $spockShadow;
}
.lizard{
    background-color: $lizardColor;
    box-shadow: 0px 10px $lizardShadow;        
}
.rock{
    background-color: $rockColor;
    box-shadow: 0px 10px $rockShadow;       
}
.third{
    text-align: end;
    margin-top: -20px;
}
button{
    position: relative;
    border: solid 3px $buttonBorderColor;
    border-radius: 10px;
    color: $iconColor;
    text-transform: uppercase;
    background-color:transparent;
    height: 35px;
    width: 120px;
    font-size: 12px; 
    margin-top: -15px;   
    z-index: 1;
}
.start-game{
    display: none;
}

#house-card{
    display: none;
}

.game-div{
   @include flex(column, center);  
  z-index: 1;
  h2{
    text-transform: uppercase;
    font-size: 36px;
    color: $iconColor;
    margin-bottom: 25px;
  }
}
.icon img{
    width: 70px;
}
.game img{
    width: 90px;
    height: auto;
}

@media screen and (max-width: 375px){
    .container{
        width: 375px;
        height: 765px;
    }    
    .first-row{
        margin-bottom: -70px;
    }
    .second .icon, .game .icon, #house-card{
        width: 130px;
        height: 130px;
        margin: 105px 27px 14px 27px;        
    }
    .icon-bg, .game .icon-bg{
        width: 100px;
        height: 100px;
    }
    .icon img{
        width: 45px;
        height: auto;
    }
    .icon-bonus{
        width: 95px;
        height: 95px;
        margin: 17px;
    }
    .icon-bonus-bg{
        width: 72px;
        height: 72px;
    }
    .icon-bonus img{
        width: 32px;
        height: auto;
    }
    .icon-bonus.scissors{
        position: relative;
        bottom: 80px;
    }
    .bonus-first-row{
        margin-top: 165px;
    }
    .bonus-first-row .icon-bonus{
        margin: 15px 7px;
    }    
    .paper, .game .paper{
        box-shadow: 0px 6px $paperShadow;
    }
    .scissors, .game .scissors{
        box-shadow: 0px 6px $scissorsShadow;
    }
    .rock, .game .rock{
        box-shadow: 0px 6px $rockShadow;        
    }
    .spock, .game .spock{
        box-shadow: 0px 6px $spockShadow;
    }
    .lizard, .game .lizard{
        box-shadow: 0px 6px $lizardShadow;
    }
    .game .icon-bg{       
        box-shadow: 0px 5px inset $iconShadow;
    }
    .blank .icon-bg{
        box-shadow: none;
    }
    .second{
        background-size: 160px;
       background-position-y: 170px;
    }
    #bonus-intro{
        background-size: 216px;
        background-position-y: 140px;
    }
    .third{
        text-align: center;
        margin-top: 120px;
        margin-bottom: 50px;
    }
    button{
        height: 40px;
        width: 135px;
    }    
    .game{
        padding: 0px; 
        p{
            font-size: 10px;
        }       
    }    
    .game-div{
        @include flex(column-reverse, center );           
        z-index: 1;
        margin-bottom: 148px;  
        p{
         margin-top: 20px;
        }    
     }         
    .score.play-again{
        width: 230px;
        height: 50px;
    }
    
}