*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html, body{
     
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 16px;    
    }
.container{
    background-color: hsl(237, 49%, 15%) ;
    width: 1366px;
    height: 735px;
    padding: 30px;
    overflow: hidden;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.first{   
    height: 150px;
    width: 700px;
    padding: 0px 30px;
    border: solid 3px hsl(217, 16%, 45%) ;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.score{
    width: 150px;
    height: 100px;
    background-color: whitesmoke;
    border-radius: 10px;
    text-align: center;
    padding: 15px 0px;   
    }
h1{
    font-size: 50px;   
}
p{
    color: hsl(229, 64%, 46%);
    text-transform: uppercase;    
    font-size: 12px;
    font-weight: 700;
    /*font-stretch: extra-expanded;*/
    
}
.second{
    background-image: url('../images/bg-triangle.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}
.first-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}
.icon{   
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color:whitesmoke;    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
.icon-bg{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 7px inset lightgray;
}
.paper{    
    background-color: hsl(230, 89%, 65%); ;
    box-shadow: 0px 10px  hsl(230, 89%, 62%);
}

.scissors{
    background-color: hsl(40, 84%, 53%);
    box-shadow: 0px 10px hsl(39, 89%, 49%);
}
.rock{
    background-color: hsl(349, 70%, 56%);
    box-shadow: 0px 10px hsl(349, 71%, 52%);
    margin: 0px;    
}

.third{
    text-align: end;
}
button{
    position: relative;
    border: solid 3px hsl(217, 16%, 45%);
    border-radius: 10px;
    color: whitesmoke;
    text-transform: uppercase;
    background-color:transparent;
    height: 35px;
    width: 120px;
    font-size: 12px; 
    margin-top: -15px;   
    z-index: 1;
}
.rules{
    display: none;
    padding: 30px;
    height: 400px;
    width: 385px;
    text-align: center;
    border-radius: 10px;
    background-color: whitesmoke;
    position: relative;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    margin-bottom: -400px;
}
h2{
    text-transform: uppercase;
    margin-bottom: 38px;
    font-size: 28px;
}
.start-game{
    display: none;
}
.game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 80px;
}
#house-card{
    display: none;
}
.game p{
    font-size: 16px;
    color: whitesmoke;
}
.game-div{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;   
  z-index: 1;
}
.icon img{
    width: 70px;
}
.game .icon{
    width: 280px;
    height: 280px;
    margin: 70px 35px -35px 35px;
}
.game .icon-bg{
    width: 210px;
    height: 210px;
    box-shadow: 0px 11px inset lightgray;
}
.game img{
    width: 90px;
    height: auto;
}
.game .blank{
    background-color: hsl(229, 25%, 31%);
}
.blank .icon-bg{
    background-color: hsl(214, 47%, 23%);    
    box-shadow: none;
}
.game .paper{
    box-shadow: 0px 14px  hsl(230, 89%, 62%);
}
.game .scissors{
    box-shadow: 0px 14px hsl(39, 89%, 49%);
}
.game .rock{
    box-shadow: 0px 14px hsl(349, 71%, 52%);       
}
#play-again{
    display: none;
    margin: 0px 35px;
}
.play-again p{
    color: hsl(349, 71%, 52%);
    font-size: 12px;
}
.play-again{
    width: 210px;
    height: 45px;
}
.game-div h2{
    text-transform: uppercase;
    font-size: 36px;
    color: whitesmoke;
    margin-bottom: 25px;
}

#gradient{
  position: relative;
  bottom: 560px;
  left: -7px;  
}

#gradient1{
    position: relative;
    bottom: 560px;
    left: 623px;
}
/*#gradient{
    position: absolute;
    top: 144px;
    left: 58px;
}
#gradient1{
    position: absolute;
    top: 144px;
    left: 618px;
}*/
.gradient .one{
    border-radius: 50%;
    background-color: violet;
    width: 280px;
    height: 280px;
}
.gradient .two{
    border-radius: 50%;
    background-color: hsla(217, 16%, 45%, 0.2);
    padding: 70px;
    width: 420px;
    height: 420px;    
}
.gradient .three{
    border-radius: 50%;
    background-color: hsla(229, 25%, 31%, 0.2);
    padding: 70px;
    width: 560px;
    height: 560px;
}
/**Interesting gradient effect***/

/*.gradient .four{
    border-radius: 50%;    
    background-image: repeating-radial-gradient(circle at 50%, hsl(237, 49%, 15%), hsl(214, 47%, 23%) 64px );
    width: 640px;
    height: 640px;
}*/
.gradient .four{
    border-radius: 50%;
    background-color: hsla(214, 47%, 23%, 0.2);
    padding: 65px;
    width: 700px;
    height: 700px;
}
